<!-- <div class="col-12 col-lg-12"> -->
    <!-- <form action="">
        <label for="buscador">Buscar vídeo:</label><br>
        <input (keyup.enter)="buscar(busqueda.value)" class="form-control" type="text" name="buscador" id="buscador" placeholder="Escribe algo..." #busqueda>
    </form> -->
<!-- </div> -->

<!-- <div class="col-12 col-lg-12" *ngFor="let video of getVideos">

    <div class="card">
        <div class="card-body">
            <p>{{video}}</p>
        </div>
    </div>

</div> -->
